body {
  font-family: 'Tahoma', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: auto;

  color: #000;
}
.container {
  width: 925px;
  margin: 0 auto;
  padding: 0 46px;
  /*background-color: #ffcccc;*/
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  text-transform: uppercase;
  color: #9c9c9c;
  font-size: 12px;
  line-height: inherit;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}

header {
  position: relative;
  margin-bottom: 15px;
}

header::after {
  content: "";
  position: absolute;
  background: url("../img/border-top.png") no-repeat;
  width: 926px;
  height: 20px;
  top: 0px;
}

.header-left {
  width: 502px;
  float: left;
  margin-top: 15px;
}

.header-right {
  width: 360px;
  float: right;
  }

.phone {
  font-size: 24px;
  line-height: inherit;
  color: #5f5f5f;
  margin-top: 15px;
  text-align: right;
  margin-bottom: 16px;
}

.header-right .search {
  text-align: right;
}

.search input {
  box-sizing: border-box;
  padding-left: 12px;
  margin: 0;
  background-color: #f7f7f7;
  color: #c4c4c4;
  border: none;
  width: 265px;
  height: 30px;
}

.search .search-btn {
  background-color: #ff8400;
  text-transform: uppercase;
  width: 85px;
  height: 30px;
  margin-left:-4px;
  padding: 0;
  color: #fff;
  border: none;
}

.main-menu {
  margin: 0 0 10px 0;
  padding: 0;
}

.menu-left {
  width: 700px;
  height: 40px;
  float: left;
  text-transform: uppercase;
}

.menu-right {
  width: 225px;
  height: 40px;
  float: right;
  position: relative;
  background: #4d4d4d;
  box-shadow: inset 0 -20px 20px 0px #202020;
}

.menu-right::after {
  content: "";
  position: absolute;
  background: url("../img/logo-basket.png") no-repeat;
  width: 32px;
  height: 31px;
  top: 5px;
  left: 5px;
}

.menu-right p {
  margin-left: 45px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #fff;
}

.menu-right a {
  text-decoration: none;
  color: #4e7aa9;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: #335989;
  box-shadow: inset 0 -20px 20px 0px #01316c;
}

.nav-menu .menu-active {
  background-color: #042a58;
}

.menu-left li {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 14px;
}

.menu-left li:first-child {
  margin-left: 16px;
}

.menu-left a {
  text-decoration: none;
  color: #fff;
}

.content-left {
  width: 195px;
  float: left;
}

.content-left a {
  text-decoration: none;
  color: #5f85b0;
}

.product, .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu li {
  margin-left: 35px;
}

.product > li > a {
  font-size: 17px;
}

.sub-menu a {
  font-size: 15px;
}

.content-right {
  width: 695px;
  float: right;
}

.info p {
  margin: 0;
  padding: 0;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  margin-right: 6px;
}

.item:nth-of-type(3n) {
  margin-right: 0;
}

.item a {
  text-decoration: none;
  display: block;
}

.item-img {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.img-pop {
  padding: 12px 0px 10px 58px;
}
.img-new-1 {
  padding: 23px 0px 41px 10px;
}

.img-new-2 {
  padding: 17px 0px 46px 10px;
}

.img-new-radio {
  padding: 36px 0px 56px 0px;
}

.item-info {
  padding-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.item-info .item-text {
  padding-left: 12px;
}

.item-info h4 {
  font-size: 14px;
  color: #4e7aa9;
  font-weight: normal;
  padding: 0;
  margin: 0 0 5px 0;
}

.item-info .price {
  display: inline-block;
  margin: 0 0 5px 0;
}

.item-info .btn {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
}

.item-info .btn-item {
  background: #bbbbbb;
  box-shadow: inset 0 -20px 20px 0 #969696;
}

.item-info .btn-active {
  background: #9a4b67;
  box-shadow: inset 0 -20px 20px 0 #800a33;
}

.color {
  list-style: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

}

.color li {
float: left;
width: 110px;
padding: 2px;
}

.radio-price {
  width: 72px;
  float: right;
  margin-right: 20px;
  padding-top: 2px;
}

.item-text .through {
  text-decoration: line-through;
}

.item-sale {
  padding: 17px 0px 25px 30px;
}

.item-sale-2 {
  padding: 22px 0px 26px 32px;
}

footer {
  position: relative;
}

footer p {
  margin: 0;
  padding: 0;
}

.copyright {
  margin-top: 35px;
  margin-bottom: 24px;
}

footer::before {
  content: "";
  position: absolute;
  background: url("../img/border-bottom.png") no-repeat;
  width: 926px;
  height: 20px;
  top: -40px;
}
